<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="admin-menu-page">
    <div class=container>
        <div class="content-box">
            <h1>Administrator Menu</h1>
    <ul>
        <li><a href="{{ url_for('add_student') }}">Add Student</a></li>
        <li><a href="{{ url_for('modify_student') }}">Modify Student</a></li>
        <li><a href="{{ url_for('delete_student') }}">Delete Student</a></li>
        <li><a href="{{ url_for('display_all_students')}}">Display All Students</a></li>
        <li><a href="{{ url_for('add_book_form') }}">Add Book</a></li>
        <li><a href="{{ url_for('modify_book_form') }}">Modify Book</a></li>
        <li><a href="{{ url_for('delete_book_form') }}">Delete Book</a></li>
        <li><a href="{{ url_for('display_all_books') }}">Display All Books</a></li>
    </ul>
    <a href="{{ url_for('homepage') }}" class="btn">Back to Home</a>
    </div>
    </div>
</body>
</html>
