<!-- delete_book_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content-box">
        <h1>Delete Book</h1>
        <form action="{{ url_for('delete_book') }}" method="POST">
            <label for="bno">Book Number:</label><br>
            <input type="number" id="bno" name="bno" required><br><br>
            
            <input type="submit" value="Delete Book" class="btn-success">
        </form>
        <a href="{{ url_for('admin_menu') }}" class="btn">Back to Admin Menu</a>
    </div></div>
</body>
</html>
