<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="index-page">
    <div class="container">
        <div class="content-box">
    <h1>Library Management System</h1>
    <a href="{{ url_for('login') }}" class="btn btn-primary">login</a>
</div>
</div>
</body>
</html>
