<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="main-menu-page">
    <div class="container">
        <div class="content-box">
        <h1>Main Menu</h1>
        <ul>
            <li><a href="{{ url_for('search_book') }}"class="btn btn-primary">Search Book</a></li>
        <li><a href="{{url_for('issue_book')}}"class="btn btn-primary">Issue Book</a></li>
            <li><a href="{{ url_for('return_book') }}" class="btn btn-primary">Return Book</a></li>
        </ul>
        <a href="{{ url_for('homepage') }}" class="btn btn-secondary">Back to Home</a>
    </div>
    </div>
</body>
</html>
