

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content-box">
        <h1>Search Book</h1>
        <form action="{{ url_for('search_book') }}" method="POST">
            <label for="bno">Enter Book Number:</label>
            <input type="text" id="bno" name="bno" required>
            <button type="submit">Search</button>
        </form>
        <a href="{{ url_for('main_menu') }}" class="btn">Back to Main Menu</a>
    </div>
    </div>
</body>
</html>
